#container{
    width: 400px;
    background-color:#ffe4c4;
    padding: 20px;
}
input{
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    margin: 2px;
}
ul,li{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.list{
    margin:15px 0 ;
}
.list>li{
    background-color: #d8bfd8;
    padding: 5px;
    margin-bottom:2px ;
    display: flex;
    justify-content: space-between;
}
.btn{
    
    display: flex;
    justify-content: flex-end;
    padding: 5px 0;
    

}
.btn>button{
    
    background-color: #438d92;
    color: white;
    width: 50px;
    padding:5px  10px;
    font-weight: 700;
}